<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.Annotations">
       <methods>
         <include name="test1"> </include>
         <parameter name="a" value="10"></parameter>
         <parameter name="b" value="10"></parameter>
       </methods>
      </class>
       <class name="TestNG.LoginPageFB">
       <methods>
       <exclude name="LoginRegUserOnly"/>
       </methods>
       </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
